# Sensitive API Credentials
XTS_API_KEY=your_interactive_api_key
XTS_API_SECRET=your_interactive_api_secret

# Market Data API
MARKET_API_KEY=your_market_api_key
MARKET_API_SECRET=your_market_api_secret

# Interactive API
INTERACTIVE_API_KEY=your_interactive_api_key
INTERACTIVE_API_SECRET=your_interactive_api_secret

# Environment
XTS_ROOT_URL=https://xts.indiainfoline.com/
DB_NAME=trade_bot
MONGODB_URI=mongodb://mongo:27017/trade_bot
