{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0",
    "title": "XTS MARKETDATA API"
  },
  "servers": [
    {
      "url": "https://developers.symphonyfintech.in/marketdata",
      "description": "Live Server"
    },
    {
      "url": "https://developers.symphonyfintech.in/marketdata",
      "description": "Sandbox Server"
    }
  ],
  "tags": [
    {
      "name": "Change History",
      "description": "The changes made in the document along with version no. and release dates.
	  

        <table>
			<tr>
				<th>Version No.</th>
				<th style='text-align:center;'>Description</th>
				<th style='width: 15%'>Revised Date</th>
			</tr>
			<tr>
				<td>2.0.26</td>
				<td>1. Removed Index Data Event (1504).<br/>
					<ul>-We have removed the â€œIndex Data Event (1504)â€ from MarketData API and have introduced exchangeInstrumentID for all Indices.<br/>-For Index data, you can use xts message code 1501 (Touchline Event) by using exchangeInstrumentID of indices.<br/>-You can get the exchangeInstrumentID of indices by calling the Index List in MarketData API.<br/><br/><strong>Example: For getting data of â€œNIFTY 50â€, subscribe to 1501 with exchangeInstrumentID as 26000.</strong></ul>
					2. Changes in <a href=#tag/Instruments/paths/~1instruments~1indexlist?exchangeSegment=1/get>Index List</a> API call<br/>
					<ul>-We have changed the response of IndexList API call.<br/>-For fetching instrumentID, user needs to separate out instrument ID after _</ul>
					3. Introduced <a href=#tag/LTP-Event>LTP Event</a> (1512).<br/>
					<ul>-Introduced new event specifically for fetching LTP from socket event.</ul></td>
				<td>15-07-2021</td>
			</tr>
		</table>
		
      "
    },
    {
      "name": "Index",
      "description": "<ul> <br/>
		<table>
			<tr>
				<th style='width: 10%'>Sr No.</th>
				<th style='width: 80%'>Table of content</th>
			</tr>
			<tr>
				<td>1.</td>
				<td>Auth<ul><li><a href=#tag/Auth/paths/~1auth~1login/post>Login</a></li>
					<li><a href=#tag/Auth/paths/~1auth~1logout/delete>Logout</a></li>
					<ul>
				</td>
			</tr>
			
			<tr>
				<td>2.</td>
				<td>ClientConfig<ul><li><a href=#tag/ClientConfig>ClientConfig</a></li>
					<ul>
				</td>
			</tr>
			
			<tr>
				<td>3.</td>
				<td>Instruments<ul><li><a href=#tag/Instruments/paths/~1instruments~1quotes/post>Quote</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1subscription/post>Subscription</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1subscription/put>UnSubscription</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1master/post>Master</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1series?exchangeSegment=1/get>GetSeries</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1symbol?exchangeSegment=1&series=EQ&symbol=Acc/get>GetEquitySymbol</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1expiryDate?exchangeSegment=2&series=FUTIDX&symbol=FTSE100/get>GetExpiryDate</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1futureSymbol?exchangeSegment=2&series=FUTIDX&symbol=FTSE100&expiryDate=20Sep2019/get>GetFutureSymbol</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1optionSymbol?exchangeSegment=2&series=OPTIDX&symbol=FTSE100&expiryDate=20Sep2019&optionType=CE&strikePrice=7200/get>GetOptionSymbol</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1instrument~1optionType?exchangeSegment=2&series=OPTIDX&symbol=FTSE100&expiryDate=20Sep2019/get>GetOptionType</a></li>
					<li><a href=#tag/Instruments/paths/~1instruments~1indexlist?exchangeSegment=1/get>IndexList</a></li>
					<ul>
				</td>
			</tr>
			
			<tr>
				<td>4.</td>
				<td>Search<ul><li><a href=#tag/Search/paths/~1search~1instrumentsbyid/post>Instruments By ID</a></li>
				<li><a href=#tag/Search/paths/~1search~1instruments~1?searchString=RELIANCE/get>Instruments By Search String</a></li>
					<ul>
				</td>
			</tr>
			
			<tr>
				<td>5.</td>
				<td>OHLC<ul><li><a href=#tag/OHLC/paths/~1instruments~1ohlc?exchangeSegment=1&exchangeInstrumentID=22&startTime=Jul%2013%202020%20090000&endTime=Jul%2013%202020%20153000&compressionValue=60/get>Intraday Candle OHLC</a></li>
					<ul>
				</td>
			</tr>
			
			<tr>
				<td>6.</td>
				<td>SocketIOStreaming<ul><li><a href=#tag/Introduction>Introduction</a></li>
					<li><a href=#tag/TouchLine-Event>TouchLine Event</a></li>
					<li><a href=#tag/Market-Depth-Event>Market Depth Event</a></li>
					<li><a href=#tag/Candle-Data-Event>Candle Data Event</a></li>
					<li><a href=#tag/Market-Status-Event>Market Status Event</a></li>
					<li><a href=#tag/Open-Interest-Event>Open Interest Event</a></li>
					<li><a href=#tag/LTP-Event>LTP Event</a></li>
					<li><a href=#tag/Instrument-Property-Change-Event>Instrument Property Change Event</a></li>
					<ul>
				</td>
			</tr>
			
			
		</table>
	 
      "
    },
    {
      "name": "Libraries and SDKs",
      "description": "Here is a list of pre-built client libraries and SDKs for Symphony API written in various languages that can be used used to interact with the APIs
	  <ol>
	  <li><strong>Symphony Python Library</strong>
		<ul><li><a href=https: //github.com/symphonyfintech/xts-pythonclient-api-sdk>Python API SDK</a></ul></li>
		<br/>
	  <li><strong>Symphony Node JS Library</strong>
		<ul><li><a href=https: //github.com/symphonyfintech/xts-interactive-nodeJS-api-v2>NodeJs Interactive API</a></ul>
		<ul><li><a href=https: //github.com/symphonyfintech/xts-marketdata-nodeJS-api-client-V2>NodeJs MarketData API</a></li></ul>
		<br/>
	  <li><strong>Symphony Java Library</strong>
	    <ul><li><a href=https: //github.com/symphonyfintech/xts-javaclient-api-sdk>Java API SDK</a></ul></li>
		</li>
	  </ol>"
    },
    {
      "name": "Error Codes",
      "description": "Here are the common error codes for Interactive API calls
	  <table>
		<tr>
			<th style='width: 10%'>Codes</th>
			<th style='width: 90%'>Description</th>
		</tr>
		<tr>
			<td>400</td>
			<td>XYZ XYZ</td>
		</tr>
		<tr>
			<td>500</td>
			<td>ABC ABC</td>
		</tr>
	  </table>
	  
	  "
    },
    {
      "name": "Rate Limit",
      "description": "Here are the rate limit for Interactive API calls
	  <table>
		<tr>
			<th style='width: 10%'>Sr No.</th>
			<th style='text-align:center;'>API Name</th>
			<th style='width: 05%'>Limit (API Request/Sec)</th>
		</tr>
		<tr>
			<td>1.</td>
			<td>Get Masters</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2.</td>
			<td>Get Quotes</td>
			<td>1</td>
		</tr>
		<tr>
			<td>3.</td>
			<td>Get OHLC</td>
			<td>1</td>
		</tr>
		<tr>
			<td>4.</td>
			<td>Search by InstrumentID</td>
			<td>1</td>
		</tr>
	  </table>
	  
	  "
    },
    {
      "name": "Getting Started",
      "description": "Market Data is a mix of Restful API and socket.io streaming. It provides feed which helps in building a real time stock market platform. It is a robust platform providing real time feed with low latency and low bandwidth usage.
      <br/><br/><strong><font size='4px'>Obtaining Public key for API</font></strong><br/><br/>In order to gain access to XTS Market API services you require a public key. To obtain a public key , you need to approach your brokerâ€™s API dashboard page listed by him and register yourself as API user.<br/>
      On registering with the broker, you will get a verification link on email. You need to validate your email id by clicking on the link in the verification email. You will be directed to login page.<br/>
      On logging in to the API dashboard site, you can select trimmed Marketdata API subscription and provide details as required for enabling the selected API service. Then wait for the approval email from the brokerâ€™s support system.<br/>
      On successful approval, you will receive an email containing the appKey and secretKey to access API services.<br/>
      Keep a copy of your API service appkey and secretKey for each registered instance and retain the same for future use. Note that only one session is possible with a single appkey and secretKey combination, do not distribute the same to others. In case you feel that your keys are compromised, you can login into API dashboard with your credentials emailed to you and regenerate a new key and use it in your source code or settings.<br/>
      For getting instrumentIDs / Symbols refer to get/ masters.<br/>
      For knowing your userID and other Enums refer the result key of successful login json response.<br/>
      For Socket Streaming refer streaming topic ,the last chapter of this document.<br/><br/><br/>

      <strong><font size='4px'>Authorization</font></strong><br/><br/>
      For any api other than login, you need to provide authentication token in request header to receive response. Token is generated only after a valid user login and its valid only for defined period of time, after which token will be invalid/expired. Below is example given for key value pair for header request.
      <pre>
      Header: Content-Type: application/json<br/>
      authorization: eyJ1c2VySUQiOiJSVVBFU0giLCJpYXQiOjE1NTIxMjIwOTEsImV4cCI6MTU1MjIwODQ5MX0      
      </pre>"
    },
    {
      "name": "Introduction",
      "description": "In order to get streaming MarketData events, you need to use socket.io library. For more information you can visit : <code>https://socket.io/</code> .
      <br/><br/><strong><font size='4px'>Real time streaming flow</font></strong><br/>
      <p style='font-size: 12px'>Once the connection is established, real-time streaming can be obtained by listening to the socket on the relevant market data ports. You can get the related streaming data on those ports. As soon as the information is received you are free to do the processing you wish to do.<br/>
      Below are the steps you need to follow to achieve real time streaming flow properly:</p><br/><ul><li>Establishment of socket connection</li><li>Listening to real time streaming</li></ul>
      <br/><br/><strong><font size='4px'>Establishment of socket connection</font></strong><br/>
      <p style='font-size: 12px'>You can connect with the server by sending the userID, token, source, publishFormat & broadcastMode in the query parameters. The token will be available to you only after your restful login request become successful (as mentioned in the restful portion of the doc).<br/></p>
      <pre>
      var request = require(\"request\");<br/>
      var socketIoClient = require(\"socket.io-client\");<br/>
      let userID = \"user1\";<br/>
      let password = \"Abc@123\";<br/>
      let publicKey = \"f5c57c8071b08536\";<br/>
      let publishFormat = \"JSON\";<br/>
      let broadcastFormat = \"Full\";<br/>
      let url = <a href='javascript:void(0);'>\"http://192.168.1.163:3000\";</a><br/>
      var data = {<br/>
        &nbsp;     \"userID\": \"user-id\",<br/>
        &nbsp;   \"password\": \"your-password\",<br/>
        &nbsp;   \"publicKey\": \"your-public-key\",<br/>
        &nbsp;   \"source\": \"WEB\"<br/>
      };<br/>
      request.post({<br/>
        &nbsp;   url: url + \"/auth/login\",<br/>
        &nbsp;   json: true,<br/>
        &nbsp;   headers: {<br/>
        &nbsp; &nbsp;       'Content-Type': 'application/json',<br/>
        &nbsp; &nbsp;       'Content-Length': data.length<br/>
        &nbsp;
        },<br/>
        &nbsp;   body: data<br/>
      }, function (err, res, body) {<br/>
        &nbsp;   if (body.type == \"success\") {<br/>
        &nbsp; &nbsp;       if (body.result.token) {<br/>
        &nbsp; &nbsp; &nbsp;           var token = body.result.token;<br/>
        &nbsp; &nbsp; &nbsp;           var socket = socketIoClient(url,
          {<br/>
        &nbsp; &nbsp; &nbsp;               path: '/marketdata/socket.io',<br/>
        &nbsp; &nbsp; &nbsp;               query: {<br/>
        &nbsp; &nbsp; &nbsp; &nbsp;                   token: \"token\",<br/>
        &nbsp; &nbsp; &nbsp; &nbsp;                   userID: \"userID\",<br/>
        &nbsp; &nbsp; &nbsp; &nbsp;                   publishFormat: \"JSON\",<br/>
        &nbsp; &nbsp; &nbsp; &nbsp;                   broadcastMode: \"Full\"<br/>
        &nbsp; &nbsp; &nbsp;
            }<br/>
        &nbsp; &nbsp;
          });<br/>
        &nbsp;           socket.on('connect', function () {});<br/>
        &nbsp;
        } else {<br/>
        &nbsp; &nbsp;       console.log(body.description);<br/>
        &nbsp;
        }<br/>
      });<br/><br/>
      </pre>
      <br/><br/><strong><font size='4px'>Listening to real time streaming</font></strong><br/>
      <p style='font-size: 12px'>Once the socket connection is established successfully, you can listen to the real time streaming by listening to the market data ports attached. You will get the entire market data in a string.<br/><p/>"
    },
    {
      "name": "TouchLine Event",
      "description": "<p>For first time subscription you will get full packet(flat string) on respective event channel over socket. For subsequent touchline event for any incremental changes you will receive partial changes in flat string. i.e. if only LTP change occurs you will receive only that change for that instrument.  In  case of full market data events full event message will be broadcasted every time. In case of partial market data events only the partial message will be broadcasted every time.
      <br/><br/>TouchLine Event message for JSON Full Packet</p>
      <pre>
      socket.on(\"1501-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
    });
      </pre><br/>
      
      <p>Response to 1501-json-full response</p>
      <pre>{
	  
   &nbsp;\"MessageCode\":1501,<br/>
   \"ExchangeSegment\":1,<br/>
   \"ExchangeInstrumentID\":22,<br/>
   \"ExchangeTimeStamp\":1205682251,<br/>
   \"LastTradedPrice\":1567.95,<br/>
   \"LastTradedQunatity\":20,<br/>
   \"TotalBuyQuantity\":1428,<br/>
   \"TotalSellQuantity\":0,<br/>
   \"TotalTradedQuantity\":253453,<br/>
   \"AverageTradedPrice\":1576.2,<br/>
   \"LastTradedTime\":1205682110,<br/>
   \"LastUpdateTime\":1205682251,<br/>
   \"PercentChange\":0,<br/>
   \"Open\":1599.9,<br/>
   \"High\":1607.25,<br/>
   \"Low\":1552.7,<br/>
   \"Close\":1567.95,<br/>
   \"TotalValueTraded\":177838490,<br/>
    &nbsp;\"BidInfo\":{<br/>
          &nbsp;&nbsp;\"Size\":1428,<br/>
          &nbsp;&nbsp;\"Price\":1567.95,<br/>
          &nbsp;&nbsp;\"TotalOrders\":10,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
    },<br/>
          &nbsp;\"AskInfo\":{<br/>
          &nbsp;&nbsp;\"Size\":0,<br/>
          &nbsp;&nbsp;\"Price\":0,<br/>
          &nbsp;&nbsp;\"TotalOrders\":0,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
  },<br/>
}    
      </pre><br/>

      <pre>
      socket.on(\"1501-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response to 1501-json-partial response</p>
      <pre>
      t: 1_22,ltp: 1567.95,ltq: 20,tb: 1428,ts: 0,v: 253453,ap: 1576.2,ltt: 1205682110,<br/>
      lut: 1205682251,pc: 0,o: 1599.9,h: 1607.25,l: 1552.7,c: 1567.95,vp: 177838490,<br/>
      ai: 0|1428|1567.95|10,bi: 0|0|0|0|1
      </pre><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_ExchangeInstrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
      <tr>
      <td>ltp</td>
      <td>Last traded price</td>
      </tr>
      <tr>
      <td>ltq</td>
      <td>Last traded quantity</td>
      </tr>
      <tr>
      <td>tb</td>
      <td>Total buy quantity</td>
      </tr>
      <tr>
      <td>ts</td>
      <td>Total sell quantity</td>
      </tr>
      <tr>
      <td>v</td>
      <td>The volume is commonly reported as the number of shares that changed hands during a given day.
      </td>
      </tr>
      <tr>
      <td>ap</td>
      <td>Average Traded Price</td>
      </tr>
      <tr>
      <td>ltt</td>
      <td>Last Traded Time</td>
      </tr>
      <tr>
      <td>lut</td>
      <td>Last Update Time</td>
      </tr>
      <tr>
      <td>pc</td>
      <td>Percent Change</td>
      </tr>
      <tr>
      <td>o</td>
      <td>Open</td>
      </tr>
      <tr>
      <td>h</td>
      <td>High</td>
      </tr>
      <tr>
      <td>l</td>
      <td>Low</td>
      </tr>
      <tr>
      <td>c</td>
      <td>Close</td>
      </tr>
      <tr>
      <td>vp</td>
      <td>Total price volume</td>
      </tr>
      <tr>
      <td>ai</td>
      <td>Ask Info(Ask  Size Index+'|'+Ask  Price +'|'+ Ask  TotalOrders)</td>
      </tr>
      <tr>
      <td>bi</td>
      <td>Bid Info(Bid Size Index+'|'+ Bid Price +'|'+Bid TotalOrders)</td>
      </tr>
      </table>"
},
{
"name": "Market Depth Event",
"description": "<p>For first time subscription you will get full packet(flat string) on respective event channel over socket. For subsequent market data event for any incremental changes you will receive partial changes in flat string. i.e. if only LTP change occurs you will receive only that change for that instrument.  In  case of full market data  events full event message will be broadcasted every time. In case of partial market data events only the partial message will be broadcasted every time.
      <br/><br/>MarketDepth Event message for JSON Full Packet</p>
      <pre>
      socket.on(\"1502-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});
      </pre><br/>
      
      <p>Response to 1502-json-full response</p>
      <pre>{
  <br/> \"MessageCode\":1502,<br/>
   \"MessageVersion\":1,<br/>
   \"ApplicationType\":0,<br/>
   \"TokenID\":0,<br/>
   \"ExchangeSegment\":1,<br/>
   \"ExchangeInstrumentID\":22,<br/>
   \"ExchangeTimeStamp\":1205682251,<br/>
   \"Bids\":[<br/>
    &nbsp;{<br/>
	&nbsp;&nbsp;\"Size\":1428,<br/>
    &nbsp;&nbsp;\"Price\":1567.95,<br/>
    &nbsp;&nbsp;\"TotalOrders\":10,<br/>
    &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
    &nbsp;
},<br/>
    &nbsp;{<br/>
      &nbsp;&nbsp;\"Size\":0,<br/>
      &nbsp;&nbsp;\"Price\":0,<br/>
      &nbsp;&nbsp;\"TotalOrders\":0,<br/>
      &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
      &nbsp;
},<br/>
      &nbsp;{<br/>
      &nbsp;&nbsp;\"Size\":0,<br/>
      &nbsp;&nbsp;\"Price\":0,<br/>
      &nbsp;&nbsp;\"TotalOrders\":0,<br/>
      &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
      &nbsp;
},<br/>
      &nbsp;{<br/>
      &nbsp;&nbsp;\"Size\":0,<br/>
      &nbsp;&nbsp;\"Price\":0,<br/>
      &nbsp;&nbsp;\"TotalOrders\":0,<br/>
      &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
      &nbsp;
},<br/>
      &nbsp;{<br/>
        &nbsp;&nbsp;\"Size\":0,<br/>
        &nbsp;&nbsp;\"Price\":0,<br/>
        &nbsp;&nbsp;\"TotalOrders\":0,<br/>
        &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
        &nbsp;
}<br/>
],<br/>
       \"Asks\":[<br/>
        &nbsp;{<br/>
        &nbsp;&nbsp;\"Size\":0,<br/>
        &nbsp;&nbsp;\"Price\":0,<br/>
        &nbsp;&nbsp;\"TotalOrders\":0,<br/>
        &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
        &nbsp;
},<br/>
        &nbsp;{<br/>
        &nbsp;&nbsp;\"Size\":0,<br/>
        &nbsp;&nbsp;\"Price\":0,<br/>
        &nbsp;&nbsp;\"TotalOrders\":0,<br/>
        &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
        &nbsp;
},<br/>
        &nbsp;{<br/>
          &nbsp;&nbsp;\"Size\":0,<br/>
          &nbsp;&nbsp;\"Price\":0,<br/>
          &nbsp;&nbsp;\"TotalOrders\":0,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
},<br/>
          &nbsp;{<br/>
          &nbsp;&nbsp;\"Size\":0,<br/>
          &nbsp;&nbsp;\"Price\":0,<br/>
          &nbsp;&nbsp;\"TotalOrders\":0,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
},<br/>
          &nbsp;{<br/>
          &nbsp;&nbsp;\"Size\":0,<br/>
          &nbsp;&nbsp;\"Price\":0,<br/>
          &nbsp;&nbsp;\"TotalOrders\":0,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
}<br/>
],<br/>
         \"Touchline\":{<br/>
          &nbsp;\"BidInfo\":{<br/>
          &nbsp;&nbsp;\"Size\":1428,<br/>
          &nbsp;&nbsp;\"Price\":1567.95,<br/>
          &nbsp;&nbsp;\"TotalOrders\":10,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
},<br/>
          &nbsp;\"AskInfo\":{<br/>
          &nbsp;&nbsp;\"Size\":0,<br/>
          &nbsp;&nbsp;\"Price\":0,<br/>
          &nbsp;&nbsp;\"TotalOrders\":0,<br/>
          &nbsp;&nbsp;\"BuyBackMarketMaker\":0<br/>
          &nbsp;
},<br/>
          &nbsp;\"LastTradedPrice\":1567.95,<br/>
          &nbsp;\"LastTradedQunatity\":20,<br/>
          &nbsp;\"TotalBuyQuantity\":1428,<br/>
          &nbsp;\"TotalSellQuantity\":0,<br/>
          &nbsp;\"TotalTradedQuantity\":253453,<br/>
          &nbsp;\"AverageTradedPrice\":1576.2,<br/>
          &nbsp;\"LastTradedTime\":1205682110,<br/>
          &nbsp;\"LastUpdateTime\":1205682251,<br/>
          &nbsp;\"PercentChange\":0,<br/>
          &nbsp;\"Open\":1599.9,<br/>
          &nbsp;\"High\":1607.25,<br/>
          &nbsp;\"Low\":1552.7,<br/>
          &nbsp;\"Close\":1567.95,<br/>
          &nbsp;\"TotalValueTraded\":177838490,<br/>
          &nbsp;\"BuyBackTotalBuy\":53190,<br/>
          &nbsp;\"BuyBackTotalSell\":16823<br/>
},<br/>
         \"BookType\":0,<br/>
         \"XMarketType\":0<br/>
		  \"SequenceNumber\":186901854008294<br/>
}    
      </pre><br/>

      <pre>
      socket.on(\"1502-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response to 1502-json-partial response</p>
      <pre>
      t: 1_22,ltp: 1567.95,ltq: 20,tb: 1428,ts: 0,v: 253453,ap: 1576.2,ltt: 1205682110,<br/>
      lut: 1205682251,pc: 0,o: 1599.9,h: 1607.25,l: 1552.7,c: 1567.95,vp: 177838490,<br/>
      ai: 0|1428|1567.95|10|1|0|0|0|2|0|0|0|3|0|0|0|4|0|0|0,bi: 0|0|0|0|1|0|0|0|2|0|0|0|3|0|0|0|4|0|0|0
      </pre><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_ExchangeInstrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
      <tr>
      <td>ltp</td>
      <td>Last traded price</td>
      </tr>
      <tr>
      <td>ltq</td>
      <td>Last traded quantity</td>
      </tr>
      <tr>
      <td>tb</td>
      <td>Total buy quantity</td>
      </tr>
      <tr>
      <td>ts</td>
      <td>Total sell quantity</td>
      </tr>
      <tr>
      <td>v</td>
      <td>The volume is commonly reported as the number of shares that changed hands during a given day.
      </td>
      </tr>
      <tr>
      <td>ap</td>
      <td>Average Traded Price</td>
      </tr>
      <tr>
      <td>ltt</td>
      <td>Last Traded Time</td>
      </tr>
      <tr>
      <td>lut</td>
      <td>Last Update Time</td>
      </tr>
      <tr>
      <td>pc</td>
      <td>Percent Change</td>
      </tr>
      <tr>
      <td>o</td>
      <td>Open</td>
      </tr>
      <tr>
      <td>h</td>
      <td>High</td>
      </tr>
      <tr>
      <td>l</td>
      <td>Low</td>
      </tr>
      <tr>
      <td>c</td>
      <td>Close</td>
      </tr>
      <tr>
      <td>vp</td>
      <td>Total price volume</td>
      </tr>
      <tr>
      <td>ai</td>
      <td>Ask Info(Ask  Size Index+'|'+Ask  Price +'|'+ Ask  TotalOrders)</td>
      </tr>
      <tr>
      <td>bi</td>
      <td>Bid Info(Bid Size Index+'|'+ Bid Price +'|'+Bid TotalOrders)</td>
      </tr>
      </table>"
},
{
"name": "Index Data Event",
"description": "IndexData Event message Listener for JSON Full Packet.
      <pre> socket.on(\"1504-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre>
      <p>Response to 1504-json-full response</p>
      <pre>
      {<br/>
        &nbsp;\"MessageCode\":1504,<br/>
        &nbsp;\"MessageVersion\":1,<br/>
        &nbsp;\"ApplicationType\":0,<br/>
        &nbsp;\"TokenID\":0,<br/>
        &nbsp;\"ExchangeSegment\":1,<br/>
        &nbsp;\"ExchangeInstrumentID\":0,<br/>
        &nbsp;\"ExchangeTimeStamp\":1205682355,<br/>
        &nbsp;\"IndexName\":\"NIFTY 50\",<br/>
        &nbsp;\"IndexValue\":10195.15,<br/>
        &nbsp;\"OpeningIndex\":10345.15,<br/>
        &nbsp;\"ClosingIndex\":10195.15,<br/>
        &nbsp;\"HighIndexValue\":10346.3,<br/>
        &nbsp;\"LowIndexValue\":10180.25,<br/>
        &nbsp;\"PercentChange\":-1.59,<br/>
        &nbsp;\"YearlyHigh\":11171.55,<br/>
        &nbsp;\"YearlyLow\":9024.65,<br/>
        &nbsp;\"NoOfUpmoves\":374291,<br/>
        &nbsp;\"NoOfDownmoves\":384255,<br/>
        &nbsp;\"MarketCapitalisation\":39336615903633.125<br/>
		&nbsp;\"SequenceNumber\":186901854008294<br/>
}    
     
      </pre><br/>
      <pre> socket.on(\"1504-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response to 1504-json-partial response</p>
      <pre>t: 1_NIFTY 50,lut: 1231925227,ltp: 10733.35,pc: -0.57</pre><br/><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_instrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
      <tr>
      <td>ltp</td>
      <td>Last traded price</td>
      </tr>
      <tr>
      <td>o</td>
      <td>Open Index</td>
      </tr>
      <tr>
      <td>h</td>
      <td>High Index</td>
      </tr> 
      <tr>
      <td>l</td>
      <td>Low Index</td>
      </tr> 
      <tr>
      <td>c</td>
      <td>Closing Index</td>
      </tr> 
      <tr>
      <td>pc</td>
      <td>Percentage Change</td>
      </tr> 
      <tr>
      <td>yh</td>
      <td>Yearly High</td>
      </tr> 
      <tr>
      <td>yl</td>
      <td>Yearly Low</td>
      </tr> 
      <tr>
      <td>lut</td>
      <td>Last Updated time</td>
      </tr> 
      </table>"
},
{
"name": "Candle Data Event",
"description": "candle Data Event message for and json both (full and partial)
      <pre>socket.on(\"1505-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre>
      <p>Response for JSON Full</p>
      <pre>
      {<br/>
        &nbsp;\"ApplicationType\":142,<br/>
        &nbsp;\"BarTime\":1548408248,<br/>
        &nbsp;\"BarVolume\":100,<br/>
        &nbsp;\"Close\":258,<br/>
        &nbsp;\"ExchangeInstrumentID\":500188,<br/>
        &nbsp;\"ExchangeSegment\":11,<br/>
        &nbsp;\"High\":258,<br/>
        &nbsp;\"Low\":258,<br/>
        &nbsp;\"MessageCode\":1505,<br/>
        &nbsp;\"MessageVersion\":1,<br/>
        &nbsp;\"Open\":258,<br/>
        &nbsp;\"OpenInterest\":0,<br/>
        &nbsp;\"SumOfQtyInToPrice\":25800,<br/>
        &nbsp;\"TokenID\":0<br/>
}
      </pre>

      <pre>socket.on(\"1505-json-partial\",function(data){<br/>
        &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response for JSON Partial</p>
      <pre>t: 11_500188,o: 258,h: 258,l: 258,c: 258,bt: 1548408248,bv: 100,pv: 25800</pre>
      <br/><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_instrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
      <tr>
      <td>o</td>
      <td>Open</td>
      </tr> 
      <tr>
      <td>h</td>
      <td>High</td>
      </tr> 
      <tr>
      <td>l</td>
      <td>Low</td>
      </tr> 
      <tr>
      <td>c</td>
      <td>Close</td>
      </tr> 
      <tr>
      <td>bt</td>
      <td>Bar Time</td>
      </tr> 
      <tr>
      <td>bv</td>
      <td>Bar Volume</td>
      </tr> 
      <tr>
      <td>pv</td>
      <td>Sum of Quantity In Price</td>
      </tr> 
      </table>"
},
{
"name": "Market Status Event",
"description": "MarketStatus provide exchange Market status i.e. PreOpenStart, PreOpenEnd, NormalStart, NormalEnd, PreClosingStart, PreClosingEnd.<br/><br/>
	  Market Status Event message for and json full
      <pre>socket.on(\"1507-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre>
      <p>Response for JSON Full</p>
      <pre>
      {<br/>
        &nbsp;\"ApplicationType\":0,<br/>
        &nbsp;\"ExchangeInstrumentID\":0,<br/>
        &nbsp;\"ExchangeSegment\":1,<br/>
        &nbsp;\"ExchangeTimeStamp\":1295773200,<br/>
        &nbsp;\"maketType\":1,<br/>
        &nbsp;\"message\":\"THE NORMAL MARKET HAS PREOPENED FOR 22 JAN 2021\",<br/>
        &nbsp;\"MessageCode\":1507,<br/>
        &nbsp;\"MessageVersion\":4,<br/>
        &nbsp;\"SequenceNumber\":424567064044868<br/>
		&nbsp;\"TokenID\":0<br/>
		&nbsp;\"tradingSession\":1<br/>
}
	 </pre><br/>
	 </p>Exchange Trading Session:</p><br/>
	 0: 'PreOpenStart'<br/>
	 1: 'PreOpenEnd'<br/>
	 2: 'NormalStart'<br/>
	 4: 'NormalEnd'<br/>
	 8: 'PreClosingStart'<br/>
	 16: 'PreClosingEnd'<br/>
     PreOpenStart: 0<br/>
     PreOpenEnd: 1<br/>
     NormalStart: 2<br/>
     NormalEnd: 4<br/>
     PreClosingStart: 8<br/>
     PreClosingEnd: 16<br/><br/>
	 
	 </p>Exchange Market Type:</p><br/>
	 1: 'Normal'<br/>
     2: 'OddLot'<br/>
     3: 'Spot'<br/>
     4: 'Auction'<br/>
     5: 'CallAuction1'<br/>
     6: 'CallAuction2'<br/>
     Normal: 1<br/>
     OddLot: 2<br/>
     Spot: 3<br/>
     Auction: 4<br/>
     CallAuction1: 5<br/>
     CallAuction2: 6<br/>
     " 
},
{
"name": "FAQ",
"description": "<b> Q1. Do we need to re login every day? </b><br/>
	  Yes, you need to login every day, every time you start the application XTS API maintains session
token for 24 hours OR until logout is call whichever is earlier. </br></br>

    <b>Q2. There would be unique token for each login?</b><br/>
Yes, there will be a unique session token.   </br></br>
	  
	<b>Q3. What are tokens? </b><br>
Token is generated only after a valid user login and its valid only for defined period of time,
after which token will be invalid/expired.
For any API other than login, you need to provide authentication token in request header to
receive response.    </br></br>

	<b>Q4. Can I use along with my Android App?</b><br>
Yes, we can use API along with Android App. </br></br>
	
	<b>Q5. How can I fetch data on my application using token given to my client?</b><br>
By creating a post back request using token received by client.</br></br>

	<b>Q6. Does this API support Multi client execution through a single login?</b><br>
Yes, it will support Multi client account mapped to a dealer, only dealer can exercise Multi
client using single login. </br></br>

	<b>Q7. Can cover order be placed using this API and how?</b><br>
Yes, we can place cover order using this API. First, we need to login by user credentials, then
using to unique session token and cover order details we can place cover order.</br></br>

	<b>Q8. can bracket order be placed using API?</b><br>
No, we cannot place bracket order using API.</br></br>

	<b>Q9. Does API support Trailing SL?</b><br>
No, this API does not support Trailing SL.</br></br>


	<b>Q10. Do I need to login to XTS if logged in to API?</b><br>
Both login sessions maintained separately. So, if you logged in to API you can login to XTS if you
want, but it is not mandatory.</br></br>

	<b>Q11. Will my XTS and API login credentials differ?</b><br>
You may use same login credentials, but secret keys for API can be provided.</br></br>

	<b>Q12. After how many days will API password be required to reset?</b><br>
You can reset API password any time, default reset will require after one month.</br></br>

	<b>Q13. Do we need to take Market Data from XTS server at IIFL only or i can use the same of any
other 3rd party services provider?</b><br>
Yes, you can take it from any third-party authorized vendor also. </br></br>

	<b>Q14. What is Github link for NodeJS sdk?</b><br>
https: //github.com/symphonyfintech </br></br>

	<b>Q15. What order functions does the API support?</b><br>
1. Place Order</br>
2. Modify Order</br>
3. Cancel Order</br>
4. Place Cover Order</br>
5. Exit Cover Order</br>
6. Order Book</br>
7. Order History</br></br>

	<b>Q16. what are order types does the API support?</b><br>
1. Market Order</br>
2. Limit Order</br>
3. Stop Limit Order</br>
4. Stop Market Order</br>
5. Cover Order</br>
6. Bracket Order</br></br>

	<b>Q17. If the internet goes down, do I need to relogin or will it reconnect by itself once connectivity
is back?</b><br>
Yes, you need to re login, as if internet goes down you will get logout.</br></br>

	<b>Q18. Can we convert product type from MIS to NRML and vice versa (I.e. Delivery marking)</b><br>
Yes, we can convert.</br></br>

	<b>Q19. Can Market data be used for any application or only on XTS REST API?</b><br>
No, Market data can be use only on XTS REST API </br></br>

	<b>Q20. What is XTS Trading API?</b><br>
Trading APIs allows to integrate your own trading system with XTS Trading Platform for placing orders and other account information.</br></br>

	<b>Q21. What is XTS Market Data API?</b><br>
Market Data API is a mixed HTTP REST and HTTP streaming Protocol contract. It provides access to live quotes data on a wide range of symbols, Exchange and segments.</br></br>

	

	<b>Q22. Can I write trading strategy Algo using XTS APIs?</b><br>
You need domain knowledge, skilled resources, technology & infrastructure in the form of hardware and right trading platform and compatible APIs for starting with Strategy based Algo trading.</br></br>

	<b>Q23. what are the hardware and infrastructure requirements to start using XTS APIs?</b><br>
To start using XTS APIs one needs a sufficiently well performing Laptop or desktop with quad core CPU and 8 GB RAM, e.g. Intel i3 processor etc. You would also need a stable internet connection with minimum of 1 Mbps speed at least for limited number of symbols.</br></br>

	<b>Q24. What are the operating system requirements to use XTS Frontend API?</b><br>
You can use Ubuntu 16.04, RHEL 7.5, other Debian, Fedora versions with Python 3.7 for Python APIs, NodeJS. You may use Windows 7 Ultimate and later for C# APIs.</br></br>

	<b>Q25. I am getting invalid Credentials!!?</b><br>
You are either providing incorrect USER ID or password or Interactive Key assigned to you.</br></br>
	
	<b>Q26. I am facing invalid session or unrecognized token/system or session not found?</b><br>
This is because you are not sending valid token you have received in login response in all subsequent message headers. You can call logout or force disconnect application and re-login to fetch valid token and monitor its usage by adding sufficient logs.</br></br>
	
	<b>Q27. What does NRML, MIS and CNC product type?</b><br>
NRML - Normal, it means you can carry forward positions.<br>
MIS - stands for Margin Intraday Square Off, user needs to square off compulsorily before end of trading session.<br>
CNC - stands for Cash and Carry, it is used for trading in equities and tangible instruments/asset class.</br></br>
	
	<b>Q28. what is CO order type?</b><br>
CO stands for Cover Order, XTS has normal HIGH leverage cover order but has some restriction like compulsory stop loss, stop loss must be within 3% of execution price, primary order must be market order.</br></br>
	
	<b>Q29. what is the difference between Day wise position and Net wise Position?</b><br>
Day wise position shows open positions of instruments one has traded during the current trading session, Net wise position shows all open position one has accumulated in futures/options across trading days until the expiry of contracts.</br></br>
	
	<b>Q30. I am getting User data not found?</b><br>
You are either providing invalid USER ID or Marketdata Key.</br></br>

	<b>Q31. I am getting invalid Credentials!!?</b><br>
You are either providing invalid USER ID or password.</br></br>
	
	<b>Q32. My subscription limit is 1000 but none of the symbol I send in a list of 1500 got subscribed, what could be the reason?</b><br>
Our server validates your limits before subscribing therefore when you send a list of instruments that exceed the limit, your request does not reach the data server and hence no feed or response.</br></br>
	
	<b>Q33. Do I need to always subscribe to list of symbols?</b><br>
You always need to send a list of instruments to subscribe; but that list can have only one instrument and you can subscribe single instrument until you exhaust your subscription limit.</br></br>
	
	<b>Q34. Where do I find the Master List of all instruments?</b><br>
You can get master list by sending POST JSON request to http: //ip:port/marketdata/instruments/master, with the body containing an array of segments. E.g.{[NSECM,NSEFO]}. </br></br>
	
	<b>Q35. How do I parse Equity instruments from Master data response?</b><br>
Each pipe separated line in response starting with NSECM should be tokenized according to the given header ExchangeSegment|ExchangeInstrumentID|InstrumentType|Name|Description|Series|NameWi thSeries|InstrumentID|PriceBand.High|PriceBand.Low|FreezeQty|TickSize|LotSize.</br></br>
	
	<b>Q36. How do I parse FO instruments from Master data response?</b><br>
Each pipe separated line in response starting with NSEFO should be tokenized according to the given header ExchangeSegment|ExchangeInstrumentID|InstrumentType|Name|Description|Series|NameWi thSeries|InstrumentID|PriceBand.High|PriceBand.Low|FreezeQty|TickSize|LotSize|UnderlyingI nstrumentId|UnderlyingIndexName|ContractExpiration|StrikePrice|OptionType.</br></br>
	
	<b>Q37. XTS API Documentations Links </b><br>
 Interactive API Document:</br>
https: //developers.symphonyfintech.in/doc/interactive/ </br>
 Market Data API Document: </br>
https: //developers.symphonyfintech.in/doc/marketdata/  </br></br>

<b>Q38. what are the technical skills required to use XTS APIs?</b><br>
Any person with trading domain knowledge along quant knowledge or data analysis skill can start using API in SDK format with little bit scripting knowledge in Python, JavaScript (NodeJS). And persons with advanced skills in C# or Java can write fairly complex systems and Front-ends using XTS APIs.</br></br>
 
 <b>Q39.Can marketdata be used receiving feed for multiple instruments and / or application instances </b><br>
In cases where the API user is consuming the market data  for receiving the feed for multiple instruments and / or application instances, it is recommended that a socket (to market data API) middleware is created that will maintain the union profile of subscription across all application instances. This middleware will receive the feed over a single socket channel to the market data API server and will then distribute the same to the internal subscribed instances.</br>
In case the middleware design needs horizontal scaling where a large number of application instances need feed, multiple instances of market data API user / server may have to be procured at additional cost. </br></br>
	  " 
},
{
"name": "Open Interest Event",
"description": "openInterest Event message for JSON Full Packet.
      <pre> socket.on(\"1510-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>      
      <p>Response to 1510-json-full response</p>
      <pre>{<br/>
        &nbsp;\"MessageCode\":1510,<br/>
        &nbsp;\"MessageVersion\":0,<br/>
        &nbsp;\"ApplicationType\":0,<br/>
        &nbsp;\"TokenID\":0,<br/>
        &nbsp;\"ExchangeSegment\":1,<br/>
        &nbsp;\"ExchangeInstrumentID\":46082,<br/>
        &nbsp;\"ExchangeTimeStamp\":0,<br/>
        &nbsp;\"XTSMarketType\":0,<br/>
        &nbsp;\"OpenInterest\":0<br/>
}</pre>

      <pre> socket.on(\"1510-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response to 1510-json-partial response</p>
      <pre>t: 1_46082,o: 0</pre><br/><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_instrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
      <tr>
      <td>o</td>
      <td>Open Interest</td>
      </tr> 
      </table>"
},
{
"name": "LTP Event",
"description": "LTP Event message for JSON Full Packet.
      <pre> socket.on(\"1512-json-full\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>      
      <p>Response to 1512-json-full response</p>
      <pre>{<br/>
        &nbsp;\"MessageCode\":1512,<br/>
        &nbsp;\"MessageVersion\":4,<br/>
        &nbsp;\"ApplicationType\":0,<br/>
        &nbsp;\"TokenID\":0,<br/>
        &nbsp;\"ExchangeSegment\":1,<br/>
        &nbsp;\"ExchangeInstrumentID\":2885,<br/>
        &nbsp;\"BookType\":1,<br/>
        &nbsp;\"XMarketType\":1,<br/>
        &nbsp;\"LastTradedPrice\":2571.75,<br/>
		&nbsp;\"LastTradedQunatity\":3,<br/>
		&nbsp;\"LastUpdateTime\":1317813249<br/>
}</pre>

      <pre> socket.on(\"1512-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>
      <p>Response to 1512-json-partial response</p>
      <pre>t: 1_2885,ltp: 2570.8,ltq: 25,lut: 1317813273,bt: 1,mt: 1</pre><br/><br/><br/>
      <table>
      <tr>
      <th>Symbol</th>
      <th>Explanation</th>
      </tr>
      <tr>
      <td>t</td>
      <td>Exchangesegment_instrumentID(exchange segment enum with underscore along with instumentID of the particular subscribed instrument)</td>
      </tr>
	  <tr>
      <td>ltp</td>
      <td>Last Traded Price</td>
      </tr>
	  <tr>
      <td>ltq</td>
      <td>Last Traded Quantity</td>
      </tr>
	  <td>lut</td>
      <td>Last Update Time</td>
      </tr>
	  <td>bt</td>
      <td>Book Type</td>
      </tr>
      <tr>
      <td>mt</td>
      <td>Market Type</td>
      </tr> 
      </table>"
},
{
"name": "Instrument Property Change Event",
"description": "Instrument property change events contains information regarding daily instrument property changes happening during market hours. Like Daily Price Range (LowPriceRange, HighPriceRange), 52 Week High/Low Change, Trade Execution Range(HighExecBand, LowExecBand) etc. Please refer InstrumentPropName enums which you can expect in this event..
      <pre> socket.on(\"1105-json-partial\",function(data){<br/>
      &nbsp;console.log(\"data is \"+data);<br/>
});</pre><br/>      
      <p>Response to 1105-json-partial response</p>
      <pre>t: 2_68728,
2: 0,
8: 1288483200,
10: 1296311400,
14: 1288483200,
15: 0,
17: 0,
18: 01-01-1980 00: 00: 00,
21: 1279238400,
22: 1279411200</pre>
		
      <br/><br/>
	  <p>Enums for 1105-json-partial response</pr>
	  <pre>
	   instrumentPropName: {<br/>
	   &nbsp;\"InstrumentType\":1,<br/>
       &nbsp;\"PermittedToTrade\":2,<br/>
	   &nbsp;\"IssuedCapital\":3,<br/>
	   &nbsp;\"WarningQuantity\":4,<br/>
	   &nbsp;\"FreezeQuantity\":5,<br/>
       &nbsp;\"IssueRate\":7,<br/>
	   &nbsp;\"IssueStartDate\":8,<br/>
	   &nbsp;\"InterestPaymentDate\":9,<br/>
	   &nbsp;\"IssueMaturityDate\":10,<br/>
       &nbsp;\"BoardLotQuantity\":11,<br/>
	   &nbsp;\"TickSize\":12,<br/>
	   &nbsp;\"Name\":13,<br/>
	   &nbsp;\"ListingDate\":14,<br/>
	   &nbsp;\"ExpulsionDate\":15,<br/>
       &nbsp;\"ReAdmissionDate\":16,<br/>
	   &nbsp;\"RecordDate\":17,<br/>
	   &nbsp;\"ExpiryDate\":18,<br/>
	   &nbsp;\"NoDeliveryStartDate\":19,<br/>
	   &nbsp;\"NoDeliveryEndDate\":20,<br/>
       &nbsp;\"BookClosureStartDate\":21,<br/>
	   &nbsp;\"BookClosureEndDate\":22,<br/>
	   &nbsp;\"LocalUpdateDateTime\":23,<br/>
	   &nbsp;\"Remark\":24,<br/>
	   &nbsp;\"FaceValue\":25,<br/>
       &nbsp;\"IsinNumber\":26,<br/>
	   &nbsp;\"Spread\":27,<br/>
	   &nbsp;\"MinQty\":28,<br/>
	   &nbsp;\"CallAuction1Flag\":29,<br/>
	   &nbsp;\"NormalMarketInstrumentStatus\":30,<br/>
       &nbsp;\"OddlotMarketInstrumentStatus\":31,<br/>
	   &nbsp;\"RetailDebtMarketInstrumentStatus\":32,<br/>
	   &nbsp;\"AuctionMarketInstrumentStatus\":33,<br/>
	   &nbsp;\"CallAuction1MarketInstrumentStatus\":34,<br/>
	   &nbsp;\"CallAuction2MarketInstrumentStatus\":35,<br/>
       &nbsp;\"NormalMarketEligibility\":36,<br/>
	   &nbsp;\"OddlotMarketEligibility\":37,<br/>
	   &nbsp;\"RetailDebtMarketEligibility\":38,<br/>
	   &nbsp;\"AuctionMarketEligibility\":39,<br/>
	   &nbsp;\"CallAuction1Eligibility\":40,<br/>
       &nbsp;\"CallAuction2Eligibility\":41,<br/>
	   &nbsp;\"MinimumFill\":42,<br/>
	   &nbsp;\"AllOrNone\":43,<br/>
	   &nbsp;\"ParticipateInMarketIndex\":44,<br/>
	   &nbsp;\"EGM\":45,<br/>
       &nbsp;\"AGM\":46,<br/>
	   &nbsp;\"Interest\":47,<br/>
	   &nbsp;\"Bonus\":48,<br/>
	   &nbsp;\"Rights\":49,<br/>
	   &nbsp;\"Dividend\":50,<br/>
       &nbsp;\"AuctionNumber\":51,<br/>
	   &nbsp;\"AuctionStatus\":52,<br/>
	   &nbsp;\"AuctionInitiatorType\":53,<br/>
	   &nbsp;\"AuctionPrice\":54,<br/>
	   &nbsp;\"AuctionQuantity\":55,<br/>
       &nbsp;\"AuctionTotalBuyQty\":56,<br/>
	   &nbsp;\"AuctionTotalSellQty\":57,<br/>
	   &nbsp;\"AuctionBestBuyPrice\":58,<br/>
	   &nbsp;\"AuctionBestSellPrice\":59,<br/>
	   &nbsp;\"AuctionSettlementPeriod\":60,<br/>
       &nbsp;\"FiftyTwoWeekHigh\":61,<br/>
	   &nbsp;\"FiftyTwoWeekLow\":62,<br/>
		</br>
       // NSEFO instrument properties
		</br>
	   &nbsp;\"OptionType\":81,<br/>
	   &nbsp;\"AssetToken\":82,<br/>
       &nbsp;\"Category\":83,<br/>
	   &nbsp;\"CALevel\":84,<br/>
	   &nbsp;\"ReservedIdentifier\":85,<br/>
	   &nbsp;\"MarginPercentage\":86,<br/>
	   &nbsp;\"LowPriceRange\":87,<br/>
       &nbsp;\"HighPriceRange\":88,<br/>
	   &nbsp;\"ExDate\":89,<br/>
	   &nbsp;\"LocalLDBUpdateDateTime\":90,<br/>
	   &nbsp;\"ExerciseStartDate\":91,<br/>
	   &nbsp;\"ExerciseEndDate\":92,<br/>
       &nbsp;\"TickerSelection\":93,<br/>
	   &nbsp;\"OldToken\":94,<br/>
	   &nbsp;\"SecurityName\":95,<br/>
	   &nbsp;\"ExerciseStyle\":96,<br/>
	   &nbsp;\"ExerciseAllowed\":97,<br/>
       &nbsp;\"ExerciserRejectionAllowed\":98,<br/>
	   &nbsp;\"PositionLiquidationAllowed\":99,<br/>
	   &nbsp;\"CheckSum\":100,<br/>
	   &nbsp;\"IsCorporateAdjusted\":101,<br/>
	   &nbsp;\"IsThisAsset\":102,<br/>
       &nbsp;\"SymbolForAsset\":103,<br/>
	   &nbsp;\"InstrumentOfAsset\":104,<br/>
	   &nbsp;\"BasePrice\":105,<br/>
	   &nbsp;\"DeleteFlag\":106,<br/>
	   &nbsp;\"IntrinsicValue\":107,<br/>
       &nbsp;\"ExtrinsicValue\":108,<br/>
	   &nbsp;\"StrikePrice\":109,<br/>
	   &nbsp;\"HighExecBand\":110,<br/>
	   &nbsp;\"LowExecBand\":111,<br/>
	   &nbsp;\"InstrumentUpdateTime\":112,<br/>
	   </br>
       // NSECD instrument properties
		</br>
		&nbsp;\"Multiplier\":131,<br/>
}
	  </pre>
      "
},
{
"name": "Auth",
"description": ""
},
{
"name": "ClientConfig",
"description": "You can get the configuration information of the client by using post <code>/config/client</code> request. You will be getting the configuration information in the response. As of now we are sending the enums related to exchangesegments and messageCodes"
},
{
"name": "Instruments",
"description": ""
},
{
"name": "Search",
"description": ""
}
],
"x-tagGroups": [
{
"name": "Introduction",
"tags": [
"Change History",
"Index",
"Libraries and SDKs",
"Rate Limit",
"Getting Started"
]
},
{
"name": "API",
"tags": [
"Auth",
"ClientConfig",
"Instruments",
"Search",
"OHLC"
]
},
{
"name": "SocketIO Streaming",
"tags": [
"Introduction",
"TouchLine Event",
"Market Depth Event",
"Candle Data Event",
"Market Status Event",
"Open Interest Event",
"LTP Event",
"Instrument Property Change Event"
]
},
{
"name": "Help",
"tags": [
"FAQ"
]
}
],
"paths": {
"/auth/login": {
"post": {
"tags": [
"Auth"
],
"summary": "Login",
"description": "You can login to the application by using POST <code>/auth/login</code> request.  You will be getting the token parameter in the response which will be used in the subsequent requests.All request bodies should have content type application/json and should be valid JSON.",
"requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/LoginBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/UserLogin"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/auth/logout": {
"delete": {
"tags": [
"Auth"
],
"summary": "Logout",
"description": "You can logout of the application by using post <code>/auth/logout</code> request.You need to pass authorization or token to the request. You will be getting the successful error code in the response.",
,
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/UserLogout"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/config/clientConfig": {
"get": {
"tags": [
"ClientConfig"
],
"summary": "ClientConfig",
"description": "Following are the exchangesegments and messageCodes maintained at our application level:<br/>exchangeSegments:-{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3, \"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51},<br/>messageCode:- {\"touchlineEvent\": 1501, \"marketDepthEvent\": 1502, \"candleDataEvent\": 1505}. You need to pass authorization or token to the request.<br/><br/>Note:-Calling of this API is optional.",
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/clientConfig"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/instruments/quotes": {
"post": {
"tags": [
"Instruments"
],
"summary": "Quote",
"description": "You can fetch the quote details by using post <code>/instruments/quotes</code> request. In response you will be getting the quote details depending on the
        exchangeSegment with instrumentID along with the publishFormat you have sent in the request.Request body should have content type application/json and should be valid JSON.","requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/QuoteBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/quote"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/instruments/subscription": {
"post": {
"tags": [
"Instruments"
],
"summary": "Subscription",
"description": "You can subscribe to the instruments by using post <code>/instruments/subscription</code> request. In response you will be getting the market data event you have subscribed along with the list of instruments you have subscribed for that particular event.Request body should have content type application/json and should be valid JSON.",
"requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/SubscriptionBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/subscription"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
},
"put": {
"tags": [
"Instruments"
],
"summary": "Unsubscription",
"description": "You can unsubscribe to the instruments by using PUT <code>/instruments/subscription</code>  request. In response you will be getting the market data events you wanted unsubscribe along with the list of instruments you have unsubscribed successfully for that particular market data event.Request body should have content type application/json and should be valid JSON.",
"requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/UnsubscriptionBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/unsubscription"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/instruments/master": {
"post": {
"tags": [
"Instruments"
],
"summary": "Master",
"description": "XTS provides you API Call to fetch all tradable as well as some additional Instrument/contract masters in a single structure. This call can be made once in a day and the response can be persisted in local storage or file as per you application design and you can fetch instrumented or Symbols from this dataset throughout the day.
        The structure of the response is as follows, you can tokenise the pipe and line separated values easily and bulk loads it into your storage of choice: </br> </br> </br>

        <strong><font size='4px'>Terminalogy</font></strong><br/><br/>
        
		<strong>If InstrumentType is Equities enums value then use below header format:</strong> </br> </br> 
		
		ExchangeSegment|ExchangeInstrumentID|InstrumentType|Name|Description|Series|
        NameWithSeries|InstrumentID|PriceBand.High|PriceBand.Low|
        FreezeQty|TickSize|LotSize|Multiplier|displayName|ISIN|PriceNumerator|PriceDenominator
		</br> </br>
		<strong>Example:</strong> NSECM|22|8|ACC|ACC-EQ|EQ|ACC-EQ|1100100000022|2157.3|1765.1|50890|0.05|1|1|ACC|INE012A01025|1|1
		</br> </br></br> </br>
		
        <strong>If InstrumentType is Futures, Options & Spread enums value then use below header format:</strong> </br> </br> 
		
        ExchangeSegment|ExchangeInstrumentID|InstrumentType|Name|Description|Series|
        NameWithSeries|InstrumentID|PriceBand.High|PriceBand.Low|FreezeQty|TickSize|
        LotSize|Multiplier|UnderlyingInstrumentId|UnderlyingIndexName|ContractExpiration|StrikePrice|OptionType|displayName|PriceNumerator|PriceDenominator
		<br/> <br/> 
		<strong>Example:</strong> NSEFO|64024|IDEA|IDEA22NOV12PE|OPTSTK|IDEA-OPTSTK|2114700061211|16739.8|13696.2|5001|0.05|70000|1|1100100014366|IDEA|2021-05-27T14: 30: 00|12|4|IDEA 24NOV2022 PE 12|1|1
		</br> </br></br>
		
        This call helps you to speed up you lookup time and coding overheads in implementing search APIs.Request body should have content type application/json and should be valid JSON.<br/> <br/>","requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/masterBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"items": {
"$ref": "#/components/schemas/masterResponse"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
},
}
}
},
"/search/instrumentsbyid": {
"post": {
"tags": [
"Search"
],
"summary": "Instruments By ID",
"description": "You can search for the instruments by using POST <code>/search/instrumentsbyid</code> request.In response you will be receiving the instruments you searched based on the instrumentID you have sent in the request.Request body should have content type application/json and should be valid JSON.",
"requestBody": {
"content": {
"application/json": {
"schema": {
"allOf": [
{
"$ref": "#/components/schemas/InstrumentsByIDBody"
}
]
}
}
}
},
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/InstrumentsByID"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/search/instruments/?searchString=RELIANCE": {
"get": {
"tags": [
"Search"
],
"summary": "Instruments By Search String",
"description": "You can search for the instruments by using GET <code>/search/instruments</code> request.In response you will be receiving the instruments you searched based on the searchString you have sent in the request.",
"parameters": [
{
"name": "searchString",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "RELIANCE"
}
},
{
"name": "source",
"in": "path",
"description": "",
"schema": {
"type": "string",
"default": "WEB"
}
}
],
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchInstrument"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
},
"/instruments/instrument/series?exchangeSegment=1": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetSeries",
"description": "You can search for the series by using GET <code>/instruments/instrument/series</code> request.In response you will be receiving the series you searched based on the exchangeSegment you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 1
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchSeries"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/instrument/symbol?exchangeSegment=1&series=EQ&symbol=Acc": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetEquitySymbol",
"description": "You can search for the equity symbol by using GET <code>/instruments/instrument/symbol</code> request.In response you will be receiving the equity symbol information you searched based on the exchangeSegment,series and symbol you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 1
}
},
{
"name": "series",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "EQ"
}
},
{
"name": "symbol",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "Acc"
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchEquitySymbol"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/instrument/expiryDate?exchangeSegment=2&series=FUTIDX&symbol=FTSE100": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetExpiryDate",
"description": "You can search for the expiry date  by using GET <code>/instruments/instrument/expiryDate</code> request.In response you will be receiving the expiry date  you searched based on the exchangeSegment,series and symbol you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 2
}
},
{
"name": "series",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FUTIDX"
}
},
{
"name": "symbol",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FTSE100"
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchExpiryDate"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/instrument/futureSymbol?exchangeSegment=2&series=FUTIDX&symbol=FTSE100&expiryDate=20Sep2019": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetFutureSymbol",
"description": "You can search for the future symbol by using GET <code>/instruments/instrument/futureSymbol</code> request.In response you will be receiving the future symbol  you searched based on the exchangeSegment,series,symbol and expiryDate you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 2
}
},
{
"name": "series",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FUTIDX"
}
},
{
"name": "symbol",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FTSE100"
}
},
{
"name": "expiryDate",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "20Sep2019"
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchFutureSymbol"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/instrument/optionSymbol?exchangeSegment=2&series=OPTIDX&symbol=FTSE100&expiryDate=20Sep2019&optionType=CE&strikePrice=7200": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetOptionSymbol",
"description": "You can search for the option symbol by using GET <code>/instruments/instrument/optionSymbol</code> request.In response you will be receiving the option symbol  you searched based on the exchangeSegment,series,symbol,expiryDate,optionType and strikePrice you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 2
}
},
{
"name": "series",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FUTIDX"
}
},
{
"name": "symbol",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FTSE100"
}
},
{
"name": "expiryDate",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "20Sep2019"
}
},
{
"name": "optionType",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "CE"
}
},
{
"name": "strikePrice",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "integer",
"default": 7200
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchOptionSymbol"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/instrument/optionType?exchangeSegment=2&series=OPTIDX&symbol=FTSE100&expiryDate=20Sep2019": {
"get": {
"tags": [
"Instruments"
],
"summary": "GetOptionType",
"description": "You can search for the option type by using GET <code>/instruments/instrument/optionType</code> request.In response you will be receiving the option symbol  you searched based on the exchangeSegment,series,symbol and expiryDate you have sent in the request.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 2
}
},
{
"name": "series",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "OPTIDX"
}
},
{
"name": "symbol",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "FTSE100"
}
},
{
"name": "expiryDate",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "string",
"default": "20Sep2019"
}
}
],
"responses": {
"200": {
"description": "Data found successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/SearchOptionType"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/indexlist?exchangeSegment=1": {
"get": {
"tags": [
"Instruments"
],
"summary": "IndexList",
"description": "You can GET the list of index  <code>/instruments/indexlist</code> request.In response name of all index list belongs to exchange segment",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12, \"MCXFO\": 51} It is segment, which represents cash, derivative, commodity or currency market.",
"required": true,
"schema": {
"type": "integer",
"default": 1
}
}
],
"responses": {
"200": {
"description": "Index List successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/IndexList"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/DataBadRequest"
}
}
}
},
"/instruments/ohlc?exchangeSegment=1&exchangeInstrumentID=22&startTime=Jul 13 2020 090000&endTime=Jul 13 2020 153000&compressionValue=60": {
"get": {
"tags": [
"OHLC"
],
"summary": "Intraday Candle OHLC",
"description": "The data is available in the form of a candle (Timestamp with epoch from 1970, Open, High, Low, Close, Volume, OI. The least compression available is 60(1 minute) for both event stream and long polling (GET at 1 Request Per Second). Other supported  intervals for GET (long polling ) Request are â€”2 minute, 3 minutes, 5 minutes,15 minutes, 30 minutes ,  hourly and daily.",
"parameters": [
{
"name": "exchangeSegment",
"in": "path",
"description": "Possible values NSECM,NSEFO",
"required": true,
"schema": {
"type": "string",
"default": "NSECM"
}
},
{
"name": "exchangeInstrumentID",
"in": "path",
"description": "Possible values 22,45406 for stocks and derivatives and â€NIFTY 50â€ ,â€NIFTY BANKâ€ for indices",
"required": true,
"schema": {
"type": "integer",
"default": 22
}
},
{
"name": "StartTime",
"in": "path",
"description": "Format: MMM DD YYYY HHMMSS",
"required": true,
"schema": {
"type": "date",
"default": "Jul 01 2020 091500"
}
},
{
"name": "EndTime",
"in": "path",
"description": "Format: MMM DD YYYY HHMMSS",
"required": true,
"schema": {
"type": "date",
"default": "Jul 01 2020 153000"
}
},
{
"name": "compressionValue",
"in": "path",
"description": "",
"required": true,
"schema": {
"type": "integer",
"default": 60,
"enum": [
"In1Second:1",
"In1Minute: 60",
"In2Minute : 120",
"In3Minute : 180",
"In5Minute : 300",
"In10Minute : 600",
"In15Minute : 900",
"In30Minute : 1800",
"In60Minute : 3600",
]
}
},
],
"responses": {
"200": {
"description": "User was logged in successfully",
"content": {
"application/json": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/OHLC"
}
}
}
}
},
"400": {
"$ref": "#/components/responses/BadRequest"
}
}
}
}
},
"components": {
"schemas": {
"OHLC": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"description": "code",
"type": "string",
"default": "e-instrument-0002"
},
"description": {
"description": "Get Ohlc successfully",
"type": "string",
"default": "Data found"
},
"result": {
"properties": {
"exchangeSegment": {
"type": "string",
"description": "",
"default": "NSECM"
},
"exchangeInstrumentID": {
"type": "string",
"description": "",
"default": "22"
},
"dataReponse": {
"type": "object",
"description": "",
"default": "1633598158|2218.9|2227|2216|2225.7|3871|0|,1633598217|2225.95|2250|2222.75|2237.7|14728|0|"
}
}
}
}
},
"SearchInstrument": {
"type": "object",
"required": [
"token",
"source"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-InstrumentsByString"
},
"description": {
"description": "Record Found",
"type": "string",
"default": "Record Found"
},
"result": {
"properties": {
"ExchangeSegment": {
"type": "integer",
"description": "",
"default": 1
},
"ExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 3749
},
"InstrumentType": {
"type": "integer",
"description": "",
"default": 8
},
"Name": {
"type": "string",
"description": "",
"default": "RELIANCEP1"
},
"DisplayName": {
"type": "string",
"description": "",
"default": "RELIANCEP1"
},
"Description": {
"type": "string",
"description": "",
"default": "RELIANCEP1-BL"
},
"Series": {
"type": "string",
"description": "",
"default": "SF"
},
"NameWithSeries": {
"type": "string",
"description": "",
"default": "RELIANCEP1-BL"
},
"InstrumentID": {
"type": "integer",
"description": "",
"default": 1100100003749
},
"PriceBand": {
"type": "object",
"properties": {
"High": {
"type": "integer",
"description": "",
"default": 1957.75
},
"Low": {
"type": "integer",
"description": "",
"default": 1919.05
},
"HighString": {
"type": "string",
"description": "",
"default": "1957.75"
},
"LowString": {
"type": "string",
"description": "",
"default": "1919.05"
},
"CreditRating": {
"type": "string",
"description": "",
"default": "1919.05-1957.75"
},
"HighExecBandString": {
"type": "string",
"description": "",
"default": "NA"
},
"LowExecBandString": {
"type": "string",
"description": "",
"default": "NA"
},
"HighExecBand": {
"type": "integer",
"description": "",
"default": 0
},
"LowExecBand": {
"type": "integer",
"description": "",
"default": 0
},
"TERRange": {
"type": "string",
"description": "",
"default": "NA"
}
}
},
"FreezeQty": {
"type": "integer",
"description": "",
"default": 5060.164872
},
"TickSize": {
"type": "double",
"description": "",
"default": 0.05
},
"LotSize": {
"type": "integer",
"description": "",
"default": 1
},
"CompanyName": {
"type": "string",
"description": "",
"default": "RELIANCE RS.5 PPD UP-BL"
},
"DecimalDisplace": {
"type": "integer",
"description": "",
"default": "2"
},
"IsIndex": {
"type": "boolean",
"description": "",
"default": false
},
"IsTradeable": {
"type": "boolean",
"description": "",
"default": true
},
"Industry": {
"type": "integer",
"description": "",
"default": 0
}
}
}
}
},
"SearchSeries": {
"type": "object",
"required": [
"token"
],
"properties": {
"result": {
"properties": {
"": {
"type": "array",
"description": "",
"default": [
"BL",
"BT",
"MF",
"NF",
"EQ",
"BE",
"N8",
"RL",
"NV"
]
}
}
}
}
},
"SearchEquitySymbol": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-GetEquitySymbol"
},
"description": {
"description": "Record Found",
"type": "string",
"default": "ok"
},
"result": {
"properties": {
"ExchangeSegment": {
"type": "integer",
"description": "",
"default": 1
},
"ExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 22
},
"InstrumentType": {
"type": "integer",
"description": "",
"default": 8
},
"Name": {
"type": "string",
"description": "",
"default": "ACC"
},
"DisplayName": {
"type": "string",
"description": "",
"default": "ACC"
},
"Description": {
"type": "string",
"description": "",
"default": "ACC LIMITED"
},
"Series": {
"type": "string",
"description": "",
"default": "EQ"
},
"NameWithSeries": {
"type": "string",
"description": "",
"default": "ACC-EQ"
},
"InstrumentID": {
"type": "integer",
"description": "",
"default": 1100100000022
},
"PriceBand": {
"type": "object",
"properties": {
"High": {
"type": "double",
"description": "",
"default": 1804.9
},
"Low": {
"type": "double",
"description": "",
"default": 1476.8
},
"CreditRating": {
"type": "string",
"description": "",
"default": "1476.80-1804.90"
},
"HighString": {
"type": "string",
"description": "",
"default": "1804.90"
},
"LowString": {
"type": "string",
"description": "",
"default": "1476.80"
}
}
},
"FreezeQty": {
"type": "integer",
"description": "",
"default": 66476
},
"TickSize": {
"type": "double",
"description": "",
"default": 0.05
},
"LotSize": {
"type": "integer",
"description": "",
"default": 1
}
}
}
}
},
"SearchExpiryDate": {
"type": "object",
"required": [
"token"
],
"properties": {
"": {
"type": "array",
"description": "",
"default": [
"2021-10-28T14:30:00",
"2021-11-25T14:30:00",
"2021-10-28T14:30:00",
"2021-12-30T14:30:00",
"2021-11-25T14:30:00"
]
}
}
},
"SearchFutureSymbol": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-GetEquitySymbol"
},
"description": {
"description": "Record Found",
"type": "string",
"default": "ok"
},
"result": {
"properties": {
"ExchangeSegment": {
"type": "integer",
"description": "",
"default": 2
},
"ExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 43954
},
"InstrumentType": {
"type": "integer",
"description": "",
"default": 1
},
"Name": {
"type": "string",
"description": "",
"default": "FTSE100"
},
"DisplayName": {
"type": "string",
"description": "",
"default": "FTSE100 20SEP2019"
},
"Description": {
"type": "string",
"description": "",
"default": "FTSE10019SEPFUT"
},
"Series": {
"type": "string",
"description": "",
"default": "FUTIDX"
},
"InstrumentID": {
"type": "integer",
"description": "",
"default": 2926300043954
},
"PriceBand": {
"type": "object",
"properties": {
"High": {
"type": "double",
"description": "",
"default": 8497
},
"Low": {
"type": "double",
"description": "",
"default": 7688
},
"CreditRating": {
"type": "string",
"description": "",
"default": "7688.00-8497.00"
},
"HighString": {
"type": "string",
"description": "",
"default": "8497.00"
},
"LowString": {
"type": "string",
"description": "",
"default": "7688.00"
}
}
},
"FreezeQty": {
"type": "integer",
"description": "",
"default": 10001
},
"TickSize": {
"type": "double",
"description": "",
"default": 1
},
"LotSize": {
"type": "integer",
"description": "",
"default": 100
},
"UnderlyingInstrumentId": {
"type": "integer",
"description": "",
"default": -1
},
"UnderlyingIndexName": {
"type": "string",
"description": "",
"default": "FTSE 100"
},
"ContractExpiration": {
"type": "date",
"description": "",
"default": "2019-09-20T14:30:00"
},
"ContractExpirationString": {
"type": "date",
"description": "",
"default": "20Sep2019"
},
"RemainingExpiryDays": {
"type": "integer",
"description": "",
"default": 67
}
}
}
}
},
"SearchOptionSymbol": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-GetEquitySymbol"
},
"description": {
"description": "Record Found",
"type": "string",
"default": "ok"
},
"result": {
"properties": {
"ExchangeSegment": {
"type": "integer",
"description": "",
"default": 2
},
"ExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 44668
},
"InstrumentType": {
"type": "integer",
"description": "",
"default": 2
},
"Name": {
"type": "string",
"description": "",
"default": "FTSE100"
},
"DisplayName": {
"type": "string",
"description": "",
"default": "FTSE100 20SEP2019 CE 7200"
},
"Description": {
"type": "string",
"description": "",
"default": "FTSE10019SEP7200CE"
},
"Series": {
"type": "string",
"description": "",
"default": "OPTIDX"
},
"InstrumentID": {
"type": "integer",
"description": "",
"default": 2926300044668
},
"PriceBand": {
"type": "object",
"properties": {
"High": {
"type": "double",
"description": "",
"default": 1147.3
},
"Low": {
"type": "double",
"description": "",
"default": 708.6
},
"CreditRating": {
"type": "string",
"description": "",
"default": "708.60-1147.30"
},
"HighString": {
"type": "string",
"description": "",
"default": "1147.30"
},
"LowString": {
"type": "string",
"description": "",
"default": "708.60"
}
}
},
"FreezeQty": {
"type": "integer",
"description": "",
"default": 10001
},
"TickSize": {
"type": "double",
"description": "",
"default": 0.05
},
"LotSize": {
"type": "integer",
"description": "",
"default": 100
},
"UnderlyingInstrumentId": {
"type": "integer",
"description": "",
"default": -1
},
"UnderlyingIndexName": {
"type": "string",
"description": "",
"default": "FTSE 100"
},
"ContractExpiration": {
"type": "date",
"description": "",
"default": "2019-09-20T14:30:00"
},
"ContractExpirationString": {
"type": "date",
"description": "",
"default": "20Sep2019"
},
"RemainingExpiryDays": {
"type": "integer",
"description": "",
"default": 67
},
"StrikePrice": {
"type": "integer",
"description": "",
"default": 7200
},
"OptionType": {
"type": "integer",
"description": "",
"default": 3
}
}
}
}
},
"SearchOptionType": {
"type": "object",
"required": [
"token"
],
"properties": {
"result": {
"properties": {
"": {
"type": "array",
"description": "",
"default": [
"PE",
"CE"
]
}
}
}
}
},
"IndexList": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-GetIndexList"
},
"description": {
"description": "Record Found",
"type": "string",
"default": "Index List successfully"
},
"result": {
"properties": {
"exchangeSegment": {
"type": "integer",
"description": "{\"NSECM\": 1, \"NSEFO\": 2, \"NSECD\": 3,\"BSECM\": 11, \"BSEFO\": 12} It is segment, which represents cash, derivative, commodity or currency market.",
"default": 1
},
"indexList": {
"type": "array",
"description": "",
"default": [
"NIFTY 50_26000",
"NIFTY BANK_26001",
"INDIA VIX_26002",
"NIFTY IT_26003",
"NIFTY 100_26004",
"NIFTY MIDCAP 50_26005",
"NIFTY GS 11 15YR_26006",
"NIFTY INFRA_26007",
"NIFTY100 LIQ 15_26008",
"NIFTY REALTY_26009",
"NIFTY CPSE_26010"
]
},
}
}
}
},
"InstrumentsByIDBody": {
"required": [
"instruments"
],
"properties": {
"source": {
"$ref": "#/components/parameters/source"
},
"UserID": {
"$ref": "#/components/parameters/UserID"
},
"instruments": {
"type": "array",
"items": {
"$ref": "#/components/parameters/instrumentsPara"
}
},
}
},
"masterResponse": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code"
},
"result": {
"name": "category_in",
"in": "query",
"description": "NSECM|4059|8|RAMCOCEM|RAMCOCEM-AF|AF|RAMCOCEM-AF|1100100004059|748.75|612.65|14676.433394|0.05|1",
"required": false,
"type": "String",
"items": {
"type": "string",
},
},
}
},
"InstrumentsByID": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-InstrumentsByID"
},
"description": {
"description": "Instruments Found",
"type": "string",
"default": "Instruments Found"
},
"result": {
"properties": {
"AGM": {
"type": "boolean",
"description": "",
"default": false
},
"AllOrNone": {
"type": "boolean",
"description": "",
"default": true
},
"Bonus": {
"type": "boolean",
"description": "",
"default": true
},
"Dividend": {
"type": "boolean",
"description": "",
"default": true
},
"EGM": {
"type": "boolean",
"description": "",
"default": false
},
"AuctionDetailInfo": {
"type": "object",
"description": "",
"properties": {
"AuctionNumber": {
"type": "integer",
"description": "",
"default": 0
},
"AuctionStatus": {
"type": "integer",
"description": "",
"default": 0
},
"InitiatorType": {
"type": "integer",
"description": "",
"default": 0
},
"SettlementPeriod": {
"type": "integer",
"description": "",
"default": 0
},
"TotalBuyQty": {
"type": "integer",
"description": "",
"default": 0
},
"TotalSellQty": {
"type": "integer",
"description": "",
"default": 0
},
"AuctionQty": {
"type": "integer",
"description": "",
"default": 0
},
"AuctionPrice": {
"type": "integer",
"description": "",
"default": 0
},
"BestBuyPrice": {
"type": "integer",
"description": "",
"default": 0
},
"BestSellPrice": {
"type": "integer",
"description": "",
"default": 0
}
}
},
"ELMargin": {
"type": "integer",
"description": "",
"default": 3.5
},
"Interest": {
"type": "boolean",
"description": "",
"default": true
},
"ISIN": {
"type": "string",
"description": "",
"default": "INE012A01025"
},
"MinimumFill": {
"type": "boolean",
"description": "",
"default": true
},
"Rights": {
"type": "boolean",
"description": "",
"default": true
},
"VaRMargin": {
"type": "double",
"description": "",
"default": 11.12
},
"IssuedCapital": {
"type": "integer",
"description": "",
"default": 187787263
},
"BoardLotQuantity": {
"type": "integer",
"description": "",
"default": 0
},
"FaceValue": {
"type": "integer",
"description": "",
"default": 10
},
"Spread": {
"type": "integer",
"description": "",
"default": 0
},
"CallAuction1Flag": {
"type": "boolean",
"description": "",
"default": false
},
"GSMIndicator": {
"type": "integer",
"description": "",
"default": 0
},
"SettlementNo": {
"type": "string",
"description": "",
"default": ""
},
"InstrumentID": {
"type": "integer",
"description": "",
"default": 1100100000022
},
"ExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 22
},
"PreferredExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 22
},
"PreferredExchangeSegment": {
"type": "integer",
"description": "",
"default": 1
},
"OppositeExchangeInstrumentID": {
"type": "integer",
"description": "",
"default": 500410
},
"OppositeExchangeSegment": {
"type": "integer",
"description": "",
"default": 11
},
"DisplayName": {
"type": "string",
"description": "",
"default": "ACC"
},
"Name": {
"type": "string",
"description": "",
"default": "ACC"
},
"AuctionNumber": {
"type": "integer",
"description": "",
"default": 0
},
"MinimumQty": {
"type": "integer",
"description": "",
"default": 0
},
"QuantityMutliplier": {
"type": "integer",
"description": "",
"default": 1
},
"Mutliplier": {
"type": "integer",
"description": "",
"default": 1
},
"PriceNumerator": {
"type": "integer",
"description": "",
"default": 1
},
"PriceDenominator": {
"type": "integer",
"description": "",
"default": 1
},
"LotSize": {
"type": "integer",
"description": "",
"default": 1
},
"InstrumentType": {
"type": "integer",
"description": "",
"default": 8
},
"SymbolType": {
"type": "integer",
"description": "",
"default": 0
},
"CfiCode": {
"type": "string",
"description": "",
"default": "ESXXXX"
},
"Status": {
"type": "string",
"description": "",
"default": ""
},
"TicksPerPoint": {
"type": "integer",
"description": "",
"default": 20
},
"TickSize": {
"type": "double",
"description": "",
"default": 0.05
},
"Description": {
"type": "string",
"description": "",
"default": "ACC LIMITED-EQ"
},
"IsImpliedMarket": {
"type": "boolean",
"description": "",
"default": false
},
"IsTradeable": {
"type": "boolean",
"description": "",
"default": true
},
"ExchangeSegment": {
"type": "integer",
"description": "",
"default": 1
},
"Series": {
"type": "string",
"description": "",
"default": "EQ"
},
"MaxTradeVolume": {
"type": "integer",
"description": "",
"default": 2147483647
},
"PriceBand": {
"type": "object",
"description": "",
"properties": {
"High": {
"type": "double",
"description": "",
"default": 2492.2
},
"Low": {
"type": "double",
"description": "",
"default": 2039.1
},
"HighString": {
"type": "string",
"description": "",
"default": "2492.20"
},
"LowString": {
"type": "string",
"description": "",
"default": "2039.10"
},
"CreditRating": {
"type": "string",
"description": "",
"default": "2039.10-2492.20"
},
"HighExecBandString": {
"type": "string",
"description": "",
"default": "NA"
},
"LowExecBandString": {
"type": "string",
"description": "",
"default": "NA"
},
"HighExecBand": {
"type": "double",
"description": "",
"default": 0
},
"LowExecBand": {
"type": "double",
"description": "",
"default": 0
},
"TERRange": {
"type": "double",
"description": "",
"default": "NA"
}
}
},
"DecimalDisplace": {
"type": "integer",
"description": "",
"default": 2
},
"ExtendedMarketProperties": {
"type": "object",
"description": "",
"properties": {
"CallAuctionIndicator": {
"properties": {
"Name": {
"default": "CallAuctionIndicator"
},
"Value": {
"default": ""
}
}
},
"ExpulsionDate": {
"properties": {
"Name": {
"default": "ExpulsionDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"IssueMaturityDate": {
"properties": {
"Name": {
"default": "IssueMaturityDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"ReAdmissionDate": {
"properties": {
"Name": {
"default": "ReAdmissionDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"CorporateAction": {
"properties": {
"Name": {
"default": "CorporateAction"
},
"Value": {
"default": "01Jan1980"
}
}
},
"NoDeliveryEndDate": {
"properties": {
"Name": {
"default": "NoDeliveryEndDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"IssueRate": {
"properties": {
"Name": {
"default": "IssueRate"
},
"Value": {
"default": ""
}
}
},
"SettlementNo": {
"properties": {
"Name": {
"default": "CallAuctionIndicator"
},
"Value": {
"default": "Missing"
}
}
},
"InterestPaymentDate": {
"properties": {
"Name": {
"default": "InterestPaymentDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"ListingDate": {
"properties": {
"Name": {
"default": "ListingDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"CompanyName": {
"properties": {
"Name": {
"default": "CompanyName"
},
"Value": {
"default": "STATE BANK OF INDIA"
}
}
},
"UniqueKey": {
"properties": {
"Name": {
"default": "UniqueKey"
},
"Value": {
"default": "SBIN"
}
}
},
"CreditRating": {
"properties": {
"Name": {
"default": "CreditRating"
},
"Value": {
"default": "270.45-330.45"
}
}
},
"RecordDate": {
"properties": {
"Name": {
"default": "RecordDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"NoDeliveryStartDate": {
"properties": {
"Name": {
"default": "NoDeliveryStartDate"
},
"Value": {
"default": "01Jan1980"
}
}
},
"MarketType": {
"properties": {
"Name": {
"default": "MarketType"
},
"Value": {
"default": "NORMAL"
}
}
},
"BookClosureStartDate": {
"properties": {
"Name": {
"default": "BookClosureStartDate"
},
"Value": {
"default": "19Feb2019"
}
}
},
"ExDate": {
"properties": {
"Name": {
"default": "ExDate"
},
"Value": {
"default": "19Feb2020"
}
}
},
"WarningPercent": {
"properties": {
"Name": {
"default": "WarningPercent"
},
"Value": {
"default": "0"
}
}
},
"IssueStartDate": {
"properties": {
"Name": {
"default": "IssueStartDate"
},
"Value": {
"default": "24Oct1994"
}
}
},
"BookClosureEndDate": {
"properties": {
"Name": {
"default": "BookClosureEndDate"
},
"Value": {
"default": "28Feb2019"
}
}
},
"Remarks": {
"properties": {
"Name": {
"default": "Remarks"
},
"Value": {
"default": "AGM/CHANGE IN RTA"
}
}
}
}
},
"MarketTypeStatusEligibility": {
"type": "object",
"description": "",
"properties": {
"Normal": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 1
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": true
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 6
}
}
},
"OddLot": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 2
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": false
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 2
}
}
},
"RetailDebt": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 3
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": false
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 2
}
}
},
"Auction": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 4
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": true
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 2
}
}
},
"CallAuction1": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 5
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": false
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 1
}
}
},
"CallAuction2": {
"type": "object",
"properties": {
"MarketType": {
"type": "integer",
"description": "",
"default": 6
},
"Eligibile": {
"type": "boolean",
"description": "",
"default": true
},
"TradingStatus": {
"type": "integer",
"description": "",
"default": 1
}
}
}
}
},
"NameWithExchange": {
"type": "string",
"description": "",
"default": "ACC-NSECM"
},
"NameWithSeries": {
"type": "string",
"description": "",
"default": "ACC-EQ"
},
"DisplayNameWithExchange": {
"type": "string",
"description": "",
"default": "ACC-NSECM"
},
"DisplayNameWithSeries": {
"type": "string",
"description": "",
"default": "ACC-EQ"
},
"DisplayNameWithSeriesAndExchange": {
"type": "string",
"description": "",
"default": "ACC-EQ-NSECM"
},
"FreezeQty": {
"type": "integer",
"description": "",
"default": 44130
},
"LastUpdateTime": {
"type": "integer",
"description": "",
"default": 1220519308
},
"FiftyTwoWeekHigh": {
"type": "double",
"description": "",
"default": 2509
},
"FiftyTwoWeekLow": {
"type": "double",
"description": "",
"default": 1402
},
"Bhavcopy": {
"type": "object",
"description": "",
"properties": {
"Open": {
"type": "double",
"description": "",
"default": 266
},
"High": {
"type": "double",
"description": "",
"default": 267.9
},
"Low": {
"type": "double",
"description": "",
"default": 261.5
},
"Close": {
"type": "double",
"description": "",
"default": 263.75
},
"TotTrdQty": {
"type": "integer",
"description": "",
"default": 42967696
},
"TotTrdVal": {
"type": "double",
"description": "",
"default": 11389044523.95
},
"TimeStamp": {
"type": "date",
"description": "",
"default": "0001-01-01T00:00:00"
},
"TotalTrades": {
"type": "integer",
"description": "",
"default": 197824
},
"OpenInterest": {
"type": "integer",
"description": "",
"default": 0
},
"SettlementPrice": {
"type": "integer",
"description": "",
"SettlementPrice": 0
}
}
},
"AdditionalPreExpiryMarginPerc": {
"type": "integer",
"description": "",
"default": 0
},
"AdditionalMarginPercLong": {
"type": "integer",
"description": "",
"default": 0
},
"AdditionalMarginPercShort": {
"type": "integer",
"description": "",
"default": 0
},
"DeliveryMarginPerc": {
"type": "integer",
"description": "",
"default": 0
},
"SpecialMarginPercBuy": {
"type": "integer",
"description": "",
"default": 0
},
"SpecialMarginPercSell": {
"type": "integer",
"description": "",
"default": 0
},
"TenderMargin": {
"type": "integer",
"description": "",
"default": 0
},
"ELMLongMargin": {
"type": "integer",
"description": "",
"default": 0
},
"ELMShortMargin": {
"type": "integer",
"description": "",
"default": 0
},
"InitialMarginPerc": {
"type": "integer",
"description": "",
"default": 0
},
"ExposureMarginPerc": {
"type": "integer",
"description": "",
"default": 0
},
"CallAuctionIndicator": {
"type": "integer",
"description": "",
"default": 1
},
"MarketType": {
"type": "integer",
"description": "",
"default": 1
},
"CurrentEligibleMarketType": {
"type": "integer",
"description": "",
"default": 1
},
"Industry": {
"type": "integer",
"description": "",
"default": 2
}
}
}
}
},
"UnsubscriptionBody": {
"required": [
"instruments",
"xtsMessageCode",
"publishFormatoken",
"token",
"xtsMessageCode"
],
"properties": {
"instruments": {
"type": "array",
"items": {
"$ref": "#/components/parameters/instrumentsPara"
}
},
"xtsMessageCode": {
"$ref": "#/components/parameters/UnsubscriptionMarketDataPort"
}
}
},
"SubscriptionBody": {
"required": [
"instruments",
"xtsMessageCode",
"publishFormatoken",
"token"
],
"properties": {
"instruments": {
"type": "array",
"items": {
"$ref": "#/components/parameters/instrumentsPara"
}
},
"xtsMessageCode": {
"$ref": "#/components/parameters/marketDataPort"
}
}
},
"masterBody": {
"properties": {
"exchangeSegmentList": {
"$ref": "#/components/parameters/segmentAssign"
}
}
},
"QuoteBody": {
"required": [
"instruments",
"xtsMessageCode",
"publishFormat",
"token"
],
"properties": {
"instruments": {
"type": "array",
"items": {
"$ref": "#/components/parameters/instrumentsPara"
}
},
"xtsMessageCode": {
"$ref": "#/components/parameters/marketDataPort"
},
"publishFormat": {
"$ref": "#/components/parameters/publishFormat"
}
}
},
"ClientConfigBody": {},
"LogoutBody": {},
"LoginBody": {
"required": [
"secretKey",
"appKey",
"source"
],
"properties": {
"secretKey": {
"$ref": "#/components/parameters/password"
},
"appKey": {
"$ref": "#/components/parameters/Api-Key-Public"
},
"source": {
"$ref": "#/components/parameters/source"
}
}
},
"Error": {
"type": "object",
"properties": {
"type": {
"type": "string",
"description": "Error for request",
"default": "error"
},
"code": {
"type": "string",
"description": "e-user-0001 to e-user-004",
"default": "e-token-0005"
},
"description": {
"type": "string",
"description": "Reason for failed request.",
"default": "Invalid Token"
}
}
},
"dataError": {
"type": "object",
"properties": {
"type": {
"type": "string",
"description": "Error for request",
"default": "error"
},
"code": {
"type": "string",
"description": "e-instrunent-0001",
"default": "e-instrunent-0001"
},
"description": {
"type": "string",
"description": "Reason for failed request.",
"default": "Data not available"
}
}
},
"UserLogout": {
"type": "object",
"required": [],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-Logout"
},
"description": {
"description": "successfully logout",
"type": "string",
"default": "successfully logout."
}
}
},
"UserLogin": {
"type": "object",
"required": [
"token"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code-Login"
},
"description": {
"description": "Provided Valid Credentials",
"type": "string",
"default": "Provided Valid Credentials"
},
"result": {
"properties": {
"token": {
"type": "string",
"description": "The unique, token generated to validate user and get data.",
"allOf": [
{
"name": "token",
"in": "path",
"description": "The resource identifier string",
"required": true,
"schema": {
"type": "string"
},
"default": "eyJ1c2VySWQiOiJDSEFJVEFMSSIsInB1YmxpY0tleSI6IjMwNjQ0NzAwMzdlOGM1NzciLCJpYXQiOjE1NTI0NjYxNTEsImV4cCI6MTU1MjU1MjU1MX0"
}
]
},
"userID": {
"type": "string",
"description": "user id",
"allOf": [
{
"name": "userID",
"in": "path",
"description": "The resource identifier string",
"required": true,
"schema": {
"type": "string"
},
"default": "SYMP1"
}
]
},
"appVersion": {
"type": "string",
"description": "Version number of APIs",
"allOf": [
{
"name": "appVersion",
"in": "path",
"description": "The resource identifier string",
"required": true,
"schema": {
"type": "string"
},
"default": "2.0.23"
}
]
}
}
}
}
},
"clientConfig": {
"type": "object",
"required": [
"enums"
],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code"
},
"description": {
"description": "Fetched configurations successfully",
"type": "string",
"default": "Fetched configurations successfully"
},
"result": {
"properties": {
"exchangeSegments": {
"$ref": "#/components/schemas/exchangeSegments"
},
"xtsMessageCode": {
,
"$ref": "#/components/schemas/marketDataPorts"
},
"publishFormat": {
"description": "",
"type": "array",
"enum": [
"Binary",
"JSON"
],
"default": [
"Binary",
"JSON"
]
},
"broadCastMode": {
"description": "",
"type": "object",
"enum": [
"Full",
"Partial"
],
"default": [
"Binary",
"JSON"
]
},
"instrumentType": {
"$ref": "#/components/schemas/instrumentType"
},
}
}
}
},
"exchangeSegments": {
"type": "object",
"required": [],
"properties": {
"NSECM": {
"description": "1",
"type": "integer",
"default": 1
},
"NSEFO": {
"description": "2",
"type": "integer",
"default": 2
},
"NSECD": {
"description": "3",
"type": "integer",
"default": 3
},
"BSECM": {
"description": "11",
"type": "integer",
"default": 11
},
"BSEFO": {
"description": "12",
"type": "integer",
"default": 12
},
"BSECD": {
"description": "13",
"type": "integer",
"default": 13
}
}
},
"marketDataPorts": {
"type": "object",
"required": [],
"properties": {
"marketDepthEvent": {
"description": "1502",
"type": "integer",
"default": 1502
},
"candleDataEvent": {
"description": "1505",
"type": "integer",
"default": 1505
},
"openInterestEvent": {
"description": "1510",
"type": "integer",
"default": 1510
}
}
},
"instrumentType": {
"type": "object",
"required": [],
"properties": {
"Futures": {
"description": "1",
"type": "integer",
"default": 1
},
"Options": {
"description": "2",
"type": "integer",
"default": 2
},
"Spread": {
"description": "4",
"type": "integer",
"default": 4
},
"Equity": {
"description": "8",
"type": "integer",
"default": 8
},
"Spot": {
"description": "16",
"type": "integer",
"default": 16
},
"PreferenceShares": {
"description": "32",
"type": "integer",
"default": 32
},
"Debentures": {
"description": "64",
"type": "integer",
"default": 64
},
"Warrants": {
"description": "128",
"type": "integer",
"default": 128
},
"Miscellaneous": {
"description": "256",
"type": "integer",
"default": 256
},
"MutualFund": {
"description": "512",
"type": "integer",
"default": 512
}
}
},
"subscription": {
"type": "object",
"description": "",
"required": [],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code"
},
"description": {
"description": "Instrument subscribed successfully!",
"type": "string",
"default": "Instrument subscribed successfully!"
},
"result": {
"properties": {
"mdp": {
"description": "Market data events from where client subscribe instrument",
"type": "integer",
"default": 1502
},
"quoteList": {
"$ref": "#/components/schemas/quoteList"
},
"listQuotes": {
"type": "object",
"description": "Quotes of instruments requested",
"default": "{\"MessageCode\":1502,\"MessageVersion\":4,\"ApplicationType\":0,\"TokenID\":0,\"ExchangeSegment\":1,\"ExchangeInstrumentID\":22,\"ExchangeTimeStamp\":1317899578,\"Bids\":[{\"Size\":12,\"Price\":2258.95,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":4,\"Price\":2258.65,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":2,\"Price\":2258.5,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":24,\"Price\":2258.45,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":8,\"Price\":2258.4,\"TotalOrders\":1,\"BuyBackMarketMaker\":0}],\"Asks\":[{\"Size\":44,\"Price\":2259.4,\"TotalOrders\":4,\"BuyBackMarketMaker\":0},{\"Size\":2,\"Price\":2259.75,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":9,\"Price\":2259.95,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},{\"Size\":35,\"Price\":2260,\"TotalOrders\":3,\"BuyBackMarketMaker\":0},{\"Size\":64,\"Price\":2260.05,\"TotalOrders\":1,\"BuyBackMarketMaker\":0}],\"Touchline\":{\"BidInfo\":{\"Size\":12,\"Price\":2258.95,\"TotalOrders\":1,\"BuyBackMarketMaker\":0},\"AskInfo\":{\"Size\":44,\"Price\":2259.4,\"TotalOrders\":4,\"BuyBackMarketMaker\":0},\"LastTradedPrice\":2258.95,\"LastTradedQunatity\":2,\"TotalBuyQuantity\":72410,\"TotalSellQuantity\":67012,\"TotalTradedQuantity\":142999,\"AverageTradedPrice\":2272.02,\"LastTradedTime\":1317899578,\"LastUpdateTime\":1317899578,\"PercentChange\":-0.29572087480413956,\"Open\":2253.15,\"High\":2284,\"Low\":2253.15,\"Close\":2265.65,\"TotalValueTraded\":null,\"BuyBackTotalBuy\":0,\"BuyBackTotalSell\":0},\"BookType\":1,\"XMarketType\":1,\"SequenceNumber\":555858990293773}"
},
"Remaining_Subscription_Count": {
"description": "Subscription count remaining",
"type": "integer",
"default": 49
}
}
}
}
},
"unsubscription": {
"type": "object",
"description": "",
"required": [],
"properties": {
"type": {
"$ref": "#/components/headers/Response-Type"
},
"code": {
"$ref": "#/components/headers/Response-Code"
},
"description": {
"description": "instrument subscription deleted!",
"type": "string",
"default": "Instrument subscription deleted!"
},
"result": {
"properties": {
"mdp": {
"description": "Market data events from where client subscribe instrument",
"type": "integer",
"default": 1502
},
"unsubList": {
"$ref": "#/components/schemas/unsubList"
}
}
}
}
},
"quoteList": {
"type": "object",
"description": "Response of subscribe instrument",
"required": [],
"properties": {
"exchangeSegment": {
[...]
